.newsletter {
	position: relative;
	top: 7.5rem;

	@include forPhoneOnly {
		top: 2rem;
	}

	&__holder {
		width: 720px;
		margin: 0 auto;
		padding: 2rem 4rem 3rem;
		text-align: center;
		background: $introBackground;
		border-radius: 10px;

		@include defaultBoxShadow(hsla(0, 100%, 0%, 0.2));

		@include forPhoneOnly {
			width: auto;
			padding: 1rem;
		}

		h2 {
			font-size: 2rem;
			font-family: $fontFamilyRaleway;

			@include forPhoneOnly {
				font-size: 1.25rem;
			}
		}

		p {
			color: #fff;
		}

		form {
			display: flex;
			justify-content: space-between;
			height: 3rem;
			margin-top: 2rem;

			@include forPhoneOnly {
				position: relative;
				flex-direction: column;
				height: auto;
			}

			input {
				flex-grow: 8;
				margin-right: 2rem;
				padding-left: 1rem;
				border-width: 0;
				border-radius: 2rem;

				@include forPhoneOnly {
					$inputPadding: 1rem;

					flex-grow: 1;
					width: calc(100% - $inputPadding);
					margin-right: 0;
					margin-bottom: 2rem;
					padding: 1rem 0 1rem $inputPadding;
				}
			}

			button {
				flex-grow: 2;
				padding: 0;

				@extend %default-button;

				@include forPhoneOnly {
					flex-grow: 1;
					width: 100%;
					margin-bottom: 1rem;
					padding: 1rem 0;
				}
			}
		}
	}
}
