.stay-productive {
  padding: 5rem 0;

  .container {
    max-width: 1230px;
  }

  &__holder {
    display: flex;
    column-gap: 4rem;
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 2.5rem;
      font-family: $fontFamilyRaleway;
    }

    p {
      font-size: 1.05rem;
    }

    a {
      color: $cyanAccent;
      font-size: 1rem;
      border-bottom: 1px solid $cyanAccent;
      display: block;
      width: max-content;
      position: relative;
      padding: 0 20px 5px;

      &::after {
        content: '';
        background: url("../img/icon-arrow.svg");
        display: block;
        width: 16px;
        height: 16px;
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
  }
}
