.testimonials {
	padding: 5rem 0;

	.container {
		max-width: 1230px;
	}

	&__holder {
		display: flex;

		@include forPhoneOnly {
			flex-direction: column;
		}
	}

	&__card {
		position: relative;
		margin: 0 1.25rem;
		padding: 2rem 1.75rem 1.75rem;
		background: $testimonialBackground;
		border-radius: 0.25rem;

		@include defaultBoxShadow(hsla(219, 30%, 20%, 0.41));

		@include forPhoneOnly {
			margin: 1.25rem;
		}

		& > p {
			font-size: 1rem;
		}

		&:first-of-type::before {
			position: absolute;
			top: -2.25rem;
			left: -0.5rem;
			z-index: -1;
			display: block;
			width: 55px;
			height: 45px;
			background: url('../img/bg-quotes.png') no-repeat;
			content: '';
		}
	}

	&__author {
		display: flex;
		padding-top: 1rem;

		img {
			width: 2rem;
			height: 2rem;
			border-radius: 100%;
		}

		p {
			margin: 0 0.75rem;
		}

		strong {
			display: block;
			line-height: 1;
		}

		small {
			margin: 0;
		}
	}
}
