<section class="intro">
	<div class="container">
		<div class="intro__img">
			<img src="src/img/illustration-intro.png" alt="People organizing giant files inside a giant folder, simple art">
		</div>

		<div class="intro__desc">
			<h1>All your files in one secure location, accessible anywhere.</h1>
			<p>Fylo stores all your most important files in one secure location. Access them wherever
					you need, share and collaborate with friends family, and co-workers.</p>
			<button>Get Started</button>
		</div>
	</div>
</section>