<section class="newsletter">
	<div class="container">
		<div class="newsletter__holder">
			<h2>{{{ newsletter.title }}}</h2>
			<p>{{{ newsletter.body }}}</p>
			<form action="#">
				<input type="email" name="email" id="newsletter-email" placeholder="{{ newsletter.placeholder }}">
				<button type="submit">{{{ newsletter.button }}}</button>
			</form>
		</div>
	</div>
</section>
