  <section class="stay-productive">
    <div class="container">
      <div class="stay-productive__holder">
        <div class="stay-productive__image">
          <img src="src/img/illustration-stay-productive.png" alt="Three persons holding speech bubbles around an abstract target">
        </div>
        <div class="stay-productive__desc">
          <h2>Stay productive,<br>wherever you are</h2>
          <p>Never let location be an issue when accessing your files. Fylo has you covered for all of your file
              storage needs.<br>
              <br>
              Securely share files and folders with friends, family and colleagues for live collaboration. No email
              attachments required.</p>
          <a href="#how-flyo-works">See how Fylo works</a>
        </div>
      </div>
    </div>
  </section>