<section class="testimonials">
	<div class="container">
		<div class="testimonials__holder">
			<div class="testimonial__card">
				<p>Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has
						become a well-oiled collaboration machine.</p>
				<div class="testimonial__author">
					<img src="src/img/profile-1.jpg" alt="">
					<p>
						<strong>Satish Patel</strong>
						<small>Founder & CEO, Huddle</small>
					</p>
				</div>
			</div>

			<div class="testimonial__card">
				<p>Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has
						become a well-oiled collaboration machine.</p>
				<div class="testimonial__author">
					<img src="src/img/profile-2.jpg" alt="">
					<p>
						<strong>Bruce McKenzie</strong>
						<small>Founder & CEO, Huddle</small>
					</p>
				</div>
			</div>

			<div class="testimonial__card">
				<p>Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has
						become a well-oiled collaboration machine.</p>
				<div class="testimonial__author">
					<img src="src/img/profile-3.jpg" alt="">
					<p>
						<strong>Iva Boyd</strong>
						<small>Founder & CEO, Huddle</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>